<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/57bc6f8ceb.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/style.css">
      <title>WeatherWapp</title>
  </head>
  <body>
    <header>
        <a href="/"><h2 class="screenTitle">WeatherWapp</h2></a>
    </header>
      <form class="searchForm" role="search" method="post" action="/country">
        <input id="myInput" class="searchInputs" name="myCity" type="search" placeholder="City" aria-label="Search" autocomplete="off">
        <button class="searchButton" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
      </form>
      <% if (locals.data){ %>
        <div id="responseContainer">
          <h1 id="cityName"><%= data.cityName %></h1>
            <div id="weatherCardsFlexbox">
              <% for(let i = 0; i < data.maxTemps.length; i++){ %>
                <div class="weatherCard">
                  <p class="dates"> <%= data.weekOrder[i]%> <%= data.weekDates[i] %></p>
                  <% switch(data.weatherCodes[i]) {

                    case 0:%>

                      <div class="image_container">
                        <img src="images/weather_icons/sunny_day.png" alt="clear sky">
                      </div>
                      <% break;

                    case 1:
                    case 2:
                    case 3: %>

                    <div class="image_container">
                      <img src="images/weather_icons/sunny_clouds.png" alt="partly cloudy">
                    </div>
                    <% break;
                    
                    case 45:
                    case 48: %>

                    <div class="image_container">
                      <img src="images/weather_icons/cloudy.png" alt="fog">
                    </div>
                    <% break;

                    case 51:
                    case 53:
                    case 55: %>

                    <div class="image_container"></div>
                      <img src="images/weather_icons/drizzle.png" alt="drizzle">
                    </div>
                    <% break;

                    case 56:
                    case 57: %>

                    <div class="image_container">
                      <img src="images/weather_icons/freezing_drizzle.png" alt="freezing drizzle">
                    </div>
                    <% break;
                    
                    case 61:
                    case 63:
                    case 65: %>

                    <div class="image_container">
                      <img src="images/weather_icons/rain.png" alt="rain">
                    </div>
                    <% break;

                    case 66:
                    case 67: %>

                    <div class="image_container">
                      <img src="images/weather_icons/rain.png" alt="freezing rain">
                    </div>
                    <% break;

                    case 71:
                    case 73:
                    case 75: %>

                    <div class="image_container">
                      <img src="images/weather_icons/snow.png" alt="snow">
                    </div>
                    <% break;
                    
                    case 77: %>

                    <div class="image_container">
                      <img src="images/weather_icons/snow.png" alt="snow">
                    </div>
                    <% break;

                    case 80:
                    case 81:
                    case 82: %>

                    <div class="image_container">
                      <img src="images/weather_icons/drizzle.png" alt="rain and showers">
                    </div>
                    <% break;

                    case 85:
                    case 86: %>

                    <div class="image_container">
                     <img src="images/weather_icons/rain_and_snow.png" alt="rain and snow">
                    </div>
                    <% break;

                    case 95: %>

                    <div class="image_container">
                      <img src="images/weather_icons/thunderstorms.png" alt="thunderstorms">
                    </div>
                    <% break;

                    case 96:
                    case 99: %>

                    <div class="image_container">
                      <img src="images/weather_icons/rain_and_thunder.png" alt="thunderstorm and hail">
                    </div>
                    
                    default: %>

                      <p>Image not found</p>
                        
                  <% } %>
                  <h2 class="weatherTemperature"><%= data.maxTemps[i] %></h2>
                  <h2 class="weatherTemperature"><%= data.minTemps[i] %></h2>
                </div>
              <% } %>
          </div>
        </div>
      <%} else{ %>
        <div id="description">
          <h1>How to use this website</h1>
          <p>Enter the country and city you want to know the weather of. We'll handle the rest.smile</p>
        </div>
      <% } %>

      <% if (locals.alert){ %>
        <h1 class="alert"> <%= alert %></h1>
      <% } %>

    <footer>By Carl Egonu</footer>
  </body>
</html>